.container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .container article {
    text-align: justify; }
  .container .commentContainer {
    display: flex;
    flex-direction: column; }
    .container .commentContainer .addComment {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #fff; }
      .container .commentContainer .addComment .avatar {
        width: 5%; }
        .container .commentContainer .addComment .avatar img {
          width: 3em;
          height: 3em; }
      .container .commentContainer .addComment .comment {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding-left: 0.85em; }
        .container .commentContainer .addComment .comment textarea {
          color: #444;
          font: inherit;
          outline: 0;
          border-radius: 3px;
          border: 1px solid #cecece;
          background-color: #fefefe;
          box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
          overflow: auto;
          width: 90%;
          min-height: 80px;
          padding: 15px 20px;
          padding-right: 0px; }
