.post {
  .list-articles {
    li {
      margin: 0.2em 0;
    }
    .format-big {
      display: flex;
      flex-direction: row;
      h3 {
        margin: 0.21em 0;
      }
      span {
        align-self: center;
        padding: 0 0.5em;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: small;
        padding-top: 0.3em;
      }
    }
  }
}
